<p id="notice"><%= notice %></p>

<p>
  <strong>Saw log class:</strong>
  <%= @saw_logs_class.saw_log_class %>
</p>

<%= link_to 'Edit', edit_saw_logs_class_path(@saw_logs_class) %> |
<%= link_to 'Back', saw_logs_classes_path %>
